.jquery-msgbox
{
  background:image-url("background.png") repeat-x left bottom;
  padding-bottom:55px;
  font-style:normal;
}

.jquery-msgbox-wrapper
{
  padding:20px 20px 20px 100px;
}

.jquery-msgbox-buttons
{
  padding:15px;
  text-align:right;
  position:absolute;
  bottom:0;
  right:0;
}

.jquery-msgbox-buttons button,
.jquery-msgbox-buttons input
{
  margin-left:10px;
  min-width:85px;
  padding:0 14px;
  font-size: 14px;
  cursor:pointer;
}

.jquery-msgbox-inputs
{
  margin-top:4px;
}

.jquery-msgbox-inputs input
{
  display:block;
  padding:3px 2px;
  border:1px solid #dddddd;
  margin:3px 0 6px 0;
  width:95%;
}

.jquery-msgbox-label
{
  font-weight:bold;
  font-size:11px;
}

.jquery-msgbox-alert
{
  background: image-url("alert.png") no-repeat 20px 12px;
}

.jquery-msgbox-info
{
  background: image-url("info.png") no-repeat 20px 12px;
}

.jquery-msgbox-error
{
  background: image-url("error.png") no-repeat 20px 12px;
}

.jquery-msgbox-prompt
{
  background: image-url("question.png") no-repeat 20px 12px;
}

.jquery-msgbox-confirm
{
  background: image-url("confirm.png") no-repeat 20px 12px;
}