/**
 * BxSlider v4.0 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2012
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */

/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
  position: relative;
  margin: 0;
  padding: 0;
  *zoom: 1;
}

.bxslider {
  margin: 0;
  opacity: 0;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
  left: 0;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  width: 100%;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
  left: -60px;
  background: image-url("controls.png") no-repeat 0 0;

  @media only screen and (max-width: 1080px) {
    left: 2px;
  }
}

.bx-wrapper .bx-next {

  right: -60px;
  background: image-url("controls.png") no-repeat -32px 0;

  @media only screen and (max-width: 1080px) {
    right: 2px;
  }
}

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;

  @media only screen and (max-width: 1080px) {
    top: 13px;
  }
}

.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}