/*
* Skeleton-SASS V1.0
* Copyright 2012 by Michael Lazer-Walker
* https://github.com/lazerwalker/Skeleton-Sass
*
* Based off of Skeleton v1.1:
* https://github.com/dhgamache/Skeleton
*
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*/

/* #Variable Definitions
================================================== */
    $base-width: 1140px;
    $tablet-width: 768px;
    $mobile-portrait-width: 300px;
    $mobile-landscape-width: 420px;

    $num-columns: 16;
    $margin: 10px;

/* Grid
================================================== */
    @function skeleton-third-width($num: 1, $width: $base-width) {
        @return $num * ($width / 3) - (2 * $margin); }

    @function skeleton-column-width($num: 1, $width: $base-width) {
        @return ($num * ($width / $num-columns)) - (2 * $margin); }

    @mixin container {
        position: relative;
        margin: 0 auto;
        padding: 0;
        width: $base-width;

        &:after {
            content: "\0020";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden; }

        @media only screen and (min-width: 768px) and (max-width: 1139px) {
            width: $tablet-width; }

        @media only screen and (max-width: 767px) {
            width: $mobile-portrait-width; }

        @media only screen and (min-width: 480px) and (max-width: 767px) {
            width: $mobile-landscape-width; } }

    @mixin column {
        float: left;
        display: inline;
        margin-left: $margin;
        margin-right: $margin;

        @media only screen and (max-width: 767px) {
          margin-left: 0;
          margin-right: 0;
          margin-bottom: $margin; } }

    @mixin row {
        @include clearfix;
        margin-bottom: 2 * $margin; }

    @mixin alpha { margin-left: 0; }
    @mixin omega { margin-right: 0; }

    @mixin columns($num: 1) {
        @include column;
        width: skeleton-column-width($num, $base-width);

        @media only screen and (min-width: 768px) and (max-width: 1139px) {
            width: skeleton-column-width($num, $tablet-width); }

        @media only screen and (max-width: 767px) {
            width: $mobile-portrait-width; }

        @media only screen and (min-width: 480px) and (max-width: 767px) {
            width: $mobile-landscape-width; } }

    @mixin third($num: 1) {
        @include column;
        width: skeleton-third-width($num, $base-width);

        @media only screen and (min-width: 768px) and (max-width: 1139px) {
            width: skeleton-third-width($num, $tablet-width); }

        @media only screen and (max-width: 767px) {
            width: $mobile-portrait-width; }

        @media only screen and (min-width: 480px) and (max-width: 767px) {
            width: $mobile-landscape-width; }}

    @mixin offset($num: 1) {
        $offset: 2 * $margin;
        padding-left: skeleton-column-width($num, $base-width) + $offset;

        @media only screen and (min-width: 768px) and (max-width: 1139px) {
            padding-left: skeleton-column-width($num, $tablet-width) + $offset; }

        @media only screen and (max-width: 767px) {
            padding-left: 0; } }


/* #Clearing
================================================== */
/* Include clearfix on parent to clear nested columns,
or wrap each row of columns in a @include row */
@mixin clearfix {
    zoom: 1;
    &:after { clear: both; }
    &:before, &:after {
        content: '\0020';
        display: block;
        overflow: hidden;
        visibility: hidden;
        width: 0;
        height: 0; } }

/* You can also use a @include clear to clear columns */
@mixin clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0; }