@import "compass/css3";
@import "compass/utilities";
@import "compass/typography";
@import "_skeleton.scss";
@import "_normalize.scss";
@import "_jquery.bxslider.scss";

$base-font-size: 16px;
$base-line-height: 6px;
@include establish-baseline;

$default-border-radius: 6px;

$base-colour: #09C;
$colour1: #FF336A;
$colour2: #00E1FF;
$colour3: #C3FF00;
$colour4: #FA4374;
$colour5: #FFFF73;
$base-text-colour: #333;
$grey: #222;

%group {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

//Fonts
@font-face {
    font-family: 'BreeSerifRegular';
    src: url('../fonts/BreeSerif-Regular-webfont.eot');
    src: url('../fonts/BreeSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/BreeSerif-Regular-webfont.woff') format('woff'), url('../fonts/BreeSerif-Regular-webfont.ttf') format('truetype'), url('../fonts/BreeSerif-Regular-webfont.svg#BreeSerifRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular-webfont.woff') format('woff'), url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Bold-webfont.woff') format('woff'), url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: 'BreeSerifRegular';
        src: url('../fonts/BreeSerif-Regular-webfont.svg#BreeSerifRegular') format('svg');
    }

    @font-face {
        font-family: 'OpenSansRegular';
        src: url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    }

    @font-face {
        font-family: 'OpenSansBold';
        src: url('../fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    }
}

//Overall Styles
* {
    @include box-sizing(border-box);
}

html {
    @include adjust-leading-to(4);
}

body {
    background: #eee;
    font-family: 'OpenSansRegular', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #333;
}

//Typography
a {
    @include single-transition(color, .1s, linear);

    color: $base-colour;

    &:hover {
        text-decoration: none;
        color: scale-lightness($base-colour, -20%);
    }

    &:focus {
        outline: none;
    }
}

p {
    margin: 0 0 rhythm(4);
}

//Headers
h1, h2, h3, h4, h5 {
    font-family: 'BreeSerifRegular', Arial, serif;
    font-weight: normal;
}

h2 {
    @include adjust-font-size-to(32px);

    margin: 0 auto rhythm(2, 32px) auto;
}

h3 {
    @include adjust-font-size-to(26px);

    padding: rhythm(1, 26px) 0 rhythm(2, 26px) 0;
    margin: 0;
    color: #FFF;
    text-align: center;
}

h4 {
    color: $grey;
    margin: rhythm(0.5) 0;
    padding: 0;
}

h5 {
    @include adjust-font-size-to(16px);
    margin: 0 0 rhythm(0.5);
}

.section-subtitle {
    @include columns(16);

    text-align: center;

    h2 {
        @include adjust-font-size-to(24px);

        margin: 0 0 rhythm(3, 24px);
        color: #333;
    }

    &.inside {
        @include alpha;
        @include omega;
    }
}

.thin {
    font-weight: 400;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none outside none;
}

.row {
    @include row;

    margin-bottom: rhythm(4);

    &.last {
        margin-bottom: 0;
    }

    @media only screen and (max-width: 767px) {
        margin-bottom: 0;
    }
}

//Forms
textarea, input[type="text"], input[type="email"], input[type="tel"] {
    @include adjust-font-size-to(14px);
    @include border-radius(3px);
    @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.075) inset);
    @include single-transition(border, 0.2s, linear, 0s);
    @include single-transition(box-shadow, 0.2s, linear, 0s);

    display: inline-block;
    padding: rhythm(2, 14px);
    background: image-url("cream_dust.png") repeat;
    border: 1px solid #999;
    margin: rhythm(1, 14px) 0 rhythm(4, 14px);
    width: 100%;
}

textarea:focus, input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus {
    @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.1) inset, 0 0 4px rgba($base-colour, 0.6));
    outline: 0 none;
}

textarea, input[type="text"], input[type="email"], input[type="tel"] {
    margin: rhythm(1) 0 0;
}

input[type="checkbox"], input[type="radio"] {
    margin: rhythm(2) rhythm(1) 0 0;

    &.error {
        @include box-shadow(0 0 2px $colour1);
    }
}

input.error, textarea.error {
    margin-bottom: rhythm(1);
    border-color: $colour1;

    &:focus {
        @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.1) inset, 0 0 4px rgba(255, 51, 106, 0.70));
    }
}

label.error {
    color: $colour1;
    font-family: 'OpenSansBold', Helvetica, Arial, sans-serif;
}

input[type="submit"] {
    @include border-radius(3px);
    @include single-transition(background, .1s, linear);

    margin: rhythm(1) 0 0 0;
    padding: rhythm(2) rhythm(3);
    border: 0 none;
    background: $base-colour;
    color: #FFF;
    font-family: 'OpenSansBold', Helvetica, Arial, sans-serif;
    text-shadow: 1px 1px #185E2B;

    &:hover {
        background: scale-lightness($base-colour, 7%);
    }

    &:focus {
        background: $base-colour;
    }
}

input:-moz-placeholder, textarea:-moz-placeholder {
    color: #666;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #666;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #666;
}

//Misc
.section-description {
    @include columns(14);
    @include offset(2);

    p {
        @include adjust-font-size-to(18px);

        text-align: center;

        &.last {
            margin: 0;
        }
    }
}

.divider {
    @include columns(16);
    @include padding-leader(4);

    .line {
        @include leading-border(1px, 4);

        border-color: #999;

        &.no-heading {
            @include leading-border(1px, 8);
        }
    }

    h3 {
        @include adjust-font-size-to(26px);

        padding: rhythm(1, 26px) 0 rhythm(2, 26px) 0;
        margin: 0;
        color: #333;
        text-align: left;
        display: inline-block;
    }

    p {
        margin: 0;
        padding-top: rhythm(2);
        display: inline-block;
        float: right;
    }
}

#message-success {
    display: none;
    background: rgba($colour3, 0.9);
}

#message-error {
    display: none;
    background: rgba(scale-lightness($colour1, -30%), 0.9);
}

.message-response {
    @include columns(16);
    @include border-radius();
    @include box-shadow(0 4px 4px -3px rgba(17, 17, 17, 0.4));
    @include margin-leader(4);

    padding: rhythm(4);
    text-align: center;

    p {
        font-family: 'OpenSansBold', Helvetica, Arial, sans-serif;
        color: #000;
        margin: 0;
    }
}

.section {
    @include columns(16);
    @include margin-trailer(4);
}

.input {
    @include columns(8);
    @include alpha;

    textarea {
        height: rhythm(50);
    }
}

.helper {
    @include columns(8);
    @include omega;
    @include offset(1);

    .helper-content {
        @include single-transition(all, .1s, linear);
        @include border-radius(10px);

        background: #ddd;
        margin: rhythm(3) 0 0;
        padding: rhythm(4);

        color: #bbb;

        &.active {
            background: $base-colour;
            color: #FFF;
        }

        p {
            margin: 0;
        }

        ul {
            margin: rhythm(2) 0 0 rhythm(2);
            list-style: disc inside;

            li {
                margin: rhythm(1) 0 0;
            }
        }
    }

    @media only screen and (max-width: 767px) {
        @include margin-trailer(4);

        .helper-content {
            margin: 0;
        }
    }
}

#google_logo {
    display: none;
}

//Layout
.container {
    @include container;
}

#content-container {
    min-height: 100%;
    position: relative;
}

header {
    @include box-shadow(0 8px 8px -7px rgba(17, 17, 17, 0.2));

    background: none repeat scroll 0 0 rgba(08, 08, 08, 0.9);
    color: #FFF;
    text-shadow: 1px 1px #111;
    width: 100%;

    #logo {
        @include column;
        width: image-width("logo.png");

        h1 {
            @include adjust-font-size-to(16px);
            @include margin-leader(1);
            @include margin-trailer(1);

            a {
                background: image-url("logo.png") no-repeat;
                width: image-width("logo.png");
                height: image-height("logo.png");

                display: block;
                font: 0/0 a;
                text-shadow: none;
                color: transparent;
            }
        }
    }

    .definition {
        @include column;

        color: #666;
        display: inline;
        font-style: italic;
        padding: rhythm(4) 0;

        @media only screen and (min-width: 768px) and (max-width: 1139px) {
            display: none;
        }
    }

    nav#primary {
        @include column;

        float: right;

        @media only screen and (min-width: 768px) and (max-width: 1139px) {
            @include alpha;
        }

        @media only screen and (max-width: 767px) {
            margin-bottom: 0;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none outside none;
            display: inline;

            li {
                float: left;

                > a {
                    @include single-transition(color, .15s, linear);
                    margin: 0 0 0 rhythm(2);
                    padding: rhythm(4) rhythm(2);
                    display: block;
                    background: none;
                    color: scale-lightness($grey, 50%);
                    text-decoration: none;
                    cursor: pointer;

                    &.first {
                        margin-left: 0;
                    }

                    &:hover {
                        color: #FFF;
                    }
                }

                &.active > a {
                    @include trailing-border(3px, 4);
                    border-color: $colour1;
                    color: #FFF;
                }
            }
        }

        a.brief {
            @include border-radius();
            @include horizontal-borders(1px, 1);
            @include apply-side-rhythm-border(left, 1px, 2);
            @include apply-side-rhythm-border(right, 1px, 2);
            @include single-transition(all, .1s, linear);

            font-family: 'OpenSansBold', Helvetica, Arial, sans-serif;
            margin: rhythm(3) 0 rhythm(3) rhythm(3);
            background: $base-colour;
            float: right;
            color: #fff;
            text-shadow: none;
            border-color: scale-lightness($base-colour, 5%);
            display: inline-block;
            text-decoration: none;

            &:hover, &.active {
                background: #fff;
                color: $base-colour;
                border-color: #fff;
            }
        }
    }

    nav#select {
        @include columns(16);

        display: none;

        select {
            @include adjust-font-size-to(18px);
            margin: rhythm(1, 18px) 0;
            width: 100%;
            height: 32px;
        }
    }

    @media only screen and (max-width: 767px) {
        .definition {
            display: none;
        }

        nav#primary {
            ul {
                display: none;
            }
        }

        nav#select {
            display: block;
        }
    }
}

#showcase {
    @include box-shadow(0 8px 8px -7px rgba(17, 17, 17, 0.2));
    @include padding-leader(12);
    @include trailing-border(1px, 10);

    background: image-url("showcase_blur.png") no-repeat center top, image-url("showcase_bg.png") repeat-x center top, image-url("cream_dust.png") repeat;
    border-color: scale-lightness($base-colour, -20%);

    .statement {
        @include columns(14);
        @include offset(2);

        color: #FFFFFF;
        text-align: center;
        text-shadow: 1px 1px #0080AA;

        p {
            @include adjust-font-size-to(18px);
            margin: 0 0 rhythm(4, 18px) 0;
        }

        a.button {
            @include border-radius(3px);
            @include box-shadow(0 8px 8px -7px rgba(17, 17, 17, 0.2));
            @include single-transition(color, .1s, linear);

            background: #FFF;
            display: inline-block;
            font-family: 'OpenSansBold', Helvetica, Arial, sans-serif;
            padding: rhythm(2) rhythm(3);
            text-decoration: none;
            text-shadow: none;
            color: $base-colour;
            margin: rhythm(4) 0 rhythm(4);

            &:hover {
                color: scale-lightness($base-colour, -30%);
                text-decoration: none;
            }
        }
    }

    @media only screen and (max-width: 767px) {

        .statement {
            h2 {
                @include adjust-font-size-to(20px);
            }

            p {
                @include adjust-font-size-to(16px);
            }
        }
    }

    .services-module {
        @include columns(4);
        @include rhythm-borders(1px, 1);
        @include border-radius();
        @include box-shadow(0 8px 8px -7px rgba(17, 17, 17, 0.1));
        @include margin-leader(4);

        padding-top: rhythm(4);
        padding-bottom: rhythm(4);
        border-color: #666;
        background: #fff;
        text-align: center;

        a.learn-more {
            @include border-radius(45px);

            height: 120px;
            width: 120px;
            display: block;
            margin: 0 auto;
            cursor: pointer;

            &.development {
                background: image-url("services.png") no-repeat 0 0;
            }

            &.redesign {
                background: image-url("services.png") no-repeat -120px 0;
            }

            &.seo {
                background: image-url("services.png") no-repeat -240px 0;
            }

            &.marketing {
                background: image-url("services.png") no-repeat -360px 0;
            }
        }

        h4 {
            margin: rhythm(3) 0 rhythm(1);
        }

        p {
            @include adjust-font-size-to(14px);
            margin: 0 rhythm(1, 14px) rhythm(3, 14px) rhythm(1, 14px);
        }

        a.learn {
            @include border-radius($default-border-radius / 2);
            @include box-shadow(0 8px 8px -7px rgba(17, 17, 17, 0.2));
            @include adjust-font-size-to(14px);
            @include single-transition(all, .1s, linear);
            @include rhythm-borders(1px, 1);

            padding: rhythm(0.8, 14px) rhythm(3, 14px);
            color: #FFF;
            display: inline-block;
            font-family: 'OpenSansBold', Helvetica, Arial, sans-serif;
            margin: 0;
            text-decoration: none;
            background: none repeat scroll 0 0 $base-colour;
            border-color: scale-lightness($base-colour, -20%);
            text-shadow: none;

            &:hover {
                background-color: scale-lightness($base-colour, -20%);
            }
        }

        @media only screen and (min-width: 768px) and (max-width: 1139px) {
            @include columns(8);
        }

        @media only screen and (max-width: 767px) {
            margin-top: 0;
        }
    }

    @media only screen and (max-width: 767px) {
        @include padding-leader(8);
    }
}

#about {
    padding: rhythm(8) 0 rhythm(10);
    background: #eee;

    .about-container {
        @include columns(16);
        @include border-radius();
        @include box-shadow(0 8px 8px -7px rgba(17, 17, 17, 0.1));
        @include margin-trailer(4);

        background: image-url("cream_dust.png") repeat;
        border: 1px solid #aaa;

        &.last {
            margin-bottom: 0;
        }
    }

    .about-title {
        @include columns(5);
        @include alpha;

        margin-right: 9px;
        text-align: center;
        padding: 23px 0;

        img {
            max-width: 100%;
            height: auto;
            margin: 0 auto;
        }

        h3 {
            @include adjust-font-size-to(24px);

            padding: 0;
            margin: rhythm(2, 24px) 0 0;
            color: #333;
            text-align: center;
        }

        p {
            font-family: 'OpenSansBold', Helvetica, Arial, sans-serif;
            margin: 0;
            text-align: center;
        }

        @media only screen and (max-width: 767px) {
            margin-bottom: 0 !important;
        }
    }

    .about-description {
        @include columns(11);
        @include omega;

        padding: 23px 23px 23px 0;
        margin-left: 9px;

        p {
            text-align: justify;

            &.last {
                margin: 0;
            }
        }

        @media only screen and (max-width: 767px) {
            margin-bottom: 0 !important;

            padding: 23px;
        }
    }
}

#services {
    padding: rhythm(8) 0 rhythm(10);

    border-color: scale-lightness($base-colour, -20%);

    .module {
        @include columns(4);
        @include rhythm-borders(1px, 1);
        @include border-radius();
        @include box-shadow(0 8px 8px -7px rgba(17, 17, 17, 0.1));
        @include margin-leader(4);

        padding-top: rhythm(4);
        padding-bottom: rhythm(4);
        border-color: #999;
        background: image-url("cream_dust.png") repeat;
        text-align: center;

        a.learn-more {
            @include border-radius(45px);

            height: 120px;
            width: 120px;
            display: block;
            margin: 0 auto;
            cursor: pointer;

            &.development {
                background: image-url("services.png") no-repeat 0 0;
            }

            &.redesign {
                background: image-url("services.png") no-repeat -120px 0;
            }

            &.seo {
                background: image-url("services.png") no-repeat -240px 0;
            }

            &.marketing {
                background: image-url("services.png") no-repeat -360px 0;
            }
        }

        h4 {
            margin: rhythm(3) 0 rhythm(1);
        }

        p {
            @include adjust-font-size-to(14px);
            margin: 0 0 rhythm(3, 14px) 0;
        }

        button {
            @include border-radius($default-border-radius / 2);
            @include box-shadow(0 8px 8px -7px rgba(17, 17, 17, 0.2));
            @include adjust-font-size-to(14px);
            @include single-transition(all, .1s, linear);
            @include rhythm-borders(1px, 1);

            padding: rhythm(0.8, 14px) rhythm(3, 14px);
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
            border-image: none;
            color: #FFF;
            cursor: pointer;
            display: inline-block;
            font-family: 'OpenSansBold', Helvetica, Arial, sans-serif;
            margin: 0;
            text-decoration: none;
            background: none repeat scroll 0 0 $base-colour;
            border-color: scale-lightness($base-colour, -20%);
            text-shadow: none;

            &:hover {
                background-color: scale-lightness($base-colour, -20%);
            }

            &:focus {
                background-color: scale-lightness($base-colour, -30%);
            }

            &.active {
                background-color: scale-lightness($base-colour, -30%);
            }
        }

        @media only screen and (min-width: 768px) and (max-width: 1139px) {
            @include columns(8);
        }

        @media only screen and (max-width: 767px) {
            margin-top: 0;
        }
    }

    .more-info {
        @include columns(16);
        @include rhythm-borders(1px, 4);
        @include border-radius(5px);
        @include box-shadow(0 8px 8px -7px rgba(17, 17, 17, 0.2));
        @include margin-leader(4);

        display: none;
        background: image-url("cream_dust.png") repeat;
        border-color: #999;
        text-align: justify;
        display: none;

        h4 {
            @include adjust-font-size-to(18px);

            color: $grey;
            margin: 0;
            padding: 0;
        }

        p {
            margin: rhythm(4) 0 0 0;

            &.first {
                margin: 0;
            }
        }
    }
}

#portfolio {
    @include padding-leader(8);
    @include padding-trailer(10);

    background: #eee;

    .module {
        @include third(1);
        @include border-radius();
        @include box-shadow(0 8px 8px -7px rgba(17, 17, 17, 0.1));
        @include rhythm-borders(1px, 2);
        @include margin-trailer(4);

        border-color: #aaa;
        position: relative;
        background: none repeat scroll 0 0 #FFF;
        text-align: center;

        .gallery {
            @include margin-trailer(2);

            display: inline-block;
            max-width: 100%;
            position: relative;

            img {
                @include border-radius(3px);
                @include box-shadow(0 0 6px 0 rgba(17, 17, 17, 0.1));

                max-width: 100%;
                height: auto;
            }

            span.rollover {
                @include border-radius(3px);
                @include single-transition(all, .15s, linear);

                background: image-url("portfolio_rollover.png") no-repeat scroll center center rgba(0, 0, 0, 0.1);

                position: absolute;
                top: 0;
                bottom: 6px;
                right: 0;
                left: 0;
                z-index: 10;
                opacity: 0;

                &.active {
                    opacity: 0.9;
                    background: image-url("portfolio_rollover.png") no-repeat scroll center center rgba(0, 0, 0, 0.5);
                }
            }
        }

        .hidden {
            display: none;
        }

        p {
            @include adjust-font-size-to(14px);
            padding: 0;
            margin: 0 0 rhythm(3) 0;

            &.home {
                margin: 0;
            }
        }

        a.role {
            @include adjust-font-size-to(12px);
            @include border-radius(30px);
            @include single-transition(all, .1s, linear);

            margin: 0 0 0 rhythm(2, 12px);
            color: #333;
            text-decoration: none;
            display: inline-block;
            padding: rhythm(1, 12px) rhythm(2, 12px);
            background: #eee;
            text-align: center;
            cursor: pointer;

            &.first {
                margin-left: 0;
            }

            &:hover {
                background: #ccc;
                color: #000;
            }
        }

        @media only screen and (min-width: 1140px) {
            &.bottom3 {
                margin-bottom: 0;
            }
        }

        @media only screen and (min-width: 768px) and (max-width: 1139px) {
            @include columns(8);

            &.bottom2 {
                margin-bottom: 0;
            }
        }
    }
}

#home-portfolio {
    @include padding-leader(8);
    @include padding-trailer(10);

    background: #eee;

    .module {
        @include third(1);
        @include border-radius();
        @include box-shadow(0 8px 8px -7px rgba(17, 17, 17, 0.1));
        @include rhythm-borders(1px, 2);

        border-color: #aaa;
        position: relative;
        background: none repeat scroll 0 0 #FFF;
        text-align: center;

        a.gallery {
            @include margin-trailer(2);

            display: inline-block;
            max-width: 100%;
            position: relative;

            img {
                @include border-radius(3px);
                @include box-shadow(0 0 6px 0 rgba(17, 17, 17, 0.1));

                max-width: 100%;
                height: auto;
            }

            span.rollover {
                @include border-radius(3px);
                @include single-transition(all, .15s, linear);

                background: image-url("portfolio_rollover.png") no-repeat scroll center center rgba(0, 0, 0, 0.1);

                position: absolute;
                top: 0;
                bottom: 6px;
                right: 0;
                left: 0;
                z-index: 10;
                opacity: 0;

                &.active {
                    opacity: 0.9;
                    background: image-url("portfolio_rollover.png") no-repeat scroll center center rgba(0, 0, 0, 0.5);
                }
            }
        }

        a.hidden {
            display: none;
        }

        p {
            @include adjust-font-size-to(14px);
            padding: 0;
            margin: 0;
        }

        a.role {
            @include adjust-font-size-to(12px);
            @include border-radius(30px);
            @include single-transition(all, .1s, linear);

            margin: 0 0 0 rhythm(2, 12px);
            color: #333;
            text-decoration: none;
            display: inline-block;
            padding: rhythm(1, 12px) rhythm(2, 12px);
            background: #eee;
            text-align: center;
            cursor: pointer;

            &.first {
                margin-left: 0;
            }

            &:hover {
                background: #ccc;
                color: #000;
            }
        }

        @media only screen and (min-width: 768px) and (max-width: 1139px) {
            h5 {
                @include adjust-font-size-to(16px);
                margin: 0 0 rhythm(0.5, 16px);
            }

            p {
                display: none;
            }
        }
    }
}

#testimonials {
    @include leading-border(1px, 8);
    @include padding-trailer(10);

    border-color: scale-lightness($base-colour, -20%);
    background: image-url("cream_dust.png") repeat;

    .box {
        @include columns(16);
        @include rhythm-borders(1px, 4);
        @include border-radius();
        @include box-shadow(0 8px 8px -7px rgba(17, 17, 17, 0.2));
        padding-top: rhythm(6);
        padding-bottom: rhythm(6);

        background: scale-lightness($base-colour, 90%);
        border-color: scale-lightness($base-colour, 60%);
        text-align: center;
        position: relative;
        z-index: 1;

        &:before {
            font-family: 'Trebuchet MS', Helvetica, sans-serif;
            color: #ccc;
            content: open-quote;
            font-size: 4em;
            line-height: .1em;
            margin-right: .25em;
            vertical-align: -.4em;
            top: 30px;
            left: 6px;
            position: absolute;
        }
        &:after {
            font-family: 'Trebuchet MS', Helvetica, sans-serif;
            color: #ccc;
            content: close-quote;
            font-size: 4em;
            line-height: .1em;
            margin-right: .25em;
            vertical-align: -.4em;
            bottom: 0px;
            right: -10px;
            position: absolute;
        }

        p {
            margin: 0;
            display: none;

            &#first {
                display: inline;
            }

            span {
                display: none;
                font-style: italic;
                font-family: 'OpenSansBold', Helvetica, Arial, sans-serif;

                @media only screen and (max-width: 767px) {
                    display: inline;
                }
            }
        }
    }

    ul {
        margin: 0;

        @media only screen and (max-width: 767px) {
            display: none;
        }

        li {
            @include third(1);

            margin-top: -1px;
            position: relative;
            z-index: 9;
            text-align: center;

            &.active {
                background: url("http://images.celero.com.au/testimonial-triangle.png") no-repeat scroll 130px 0px transparent;

                @media only screen and (min-width: 768px) and (max-width: 1139px) {
                    background: url("http://images.celero.com.au/testimonial-triangle.png") no-repeat scroll 75px 0px transparent;
                }
            }

            .person {
                @include rhythm-borders(1px, 4);
                @include border-radius();
                @include box-shadow(0 8px 8px -7px rgba(17, 17, 17, 0.2));
                @include single-transition(all, .1s, linear);

                background: #eee;
                border-color: #aaa;
                margin-top: 72px;
                cursor: pointer;

                &:hover {
                    @include box-shadow(0 0 8px 0px rgba(17, 17, 17, 0.2));

                    border-color: #888;
                }

                img {
                    max-width: 100%;
                    height: auto;
                }

                p.name {
                    @include adjust-font-size-to(18px);

                    @media only screen and (min-width: 768px) and (max-width: 1139px) {
                        @include adjust-font-size-to(14px);
                    }

                    margin: rhythm(1, 18px) 0;
                }

                p.title {
                    @include adjust-font-size-to(18px);

                    @media only screen and (min-width: 768px) and (max-width: 1139px) {
                        @include adjust-font-size-to(14px);
                    }

                    margin: rhythm(1, 18px) 0;
                    font-style: italic;
                }

                p.company {
                    @media only screen and (min-width: 768px) and (max-width: 1139px) {
                        @include adjust-font-size-to(14px);
                    }

                    margin: 0;
                    font-family: 'OpenSansBold', Helvetica, Arial, sans-serif;
                }
            }

            &:nth-child(4) {
                p.title {
                    @media only screen and (min-width: 768px) and (max-width: 1139px) {
                        min-height: 36px;
                    }
                }
            }
        }
    }
}

#contact {
    @include padding-leader(8);
    @include padding-trailer(10);

    background: #eee;

    fieldset {
        @include columns(8);

        border: 0 none;
        padding: 0;

        &#left {
            @include alpha;
        }

        &#right {
            @include omega;
        }
    }

    input {
        margin: rhythm(1.5) 0 0;
    }

    input[type="radio"] {
        margin: 0 rhythm(1) 0 rhythm(2);

        &.first {
            margin-left: 0;
        }
    }

    textarea {
        $textarea-height: rhythm(48);

        height: $textarea-height;

        .webkit & {
            height: ($textarea-height - rhythm(2));
        }

        .ie & {
            height: ($textarea-height - rhythm(1));
        }
    }

    .module {
        @include columns(16);
        @include margin-leader(4);

        text-align: left;

        p {
            margin: rhythm(4) 0 0;

            &.first {
                margin: 0;
            }
        }

        h4 {
            color: #333;
            margin: 0;
        }

        input[type="submit"] {
            @include border-radius(3px);
            @include single-transition(background, .1s, linear);

            margin: rhythm(4) 0 0 0;
            padding: rhythm(2) rhythm(3);
            border: 0 none;
            background: $base-colour;
            color: #FFF;
            font-family: 'OpenSansBold', Helvetica, Arial, sans-serif;
            text-shadow: 1px 1px #185E2B;
            float: right;

            &:hover {
                background: scale-lightness($base-colour, 7%);
            }

            &:focus {
                background: $base-colour;
            }
        }
    }
}

#brief {
    @include padding-leader(8);
    @include padding-trailer(10);

    background: #eee;

    .submit {
        @include columns(16);

        text-align: center;
    }

    textarea {
        height: rhythm(50);
    }

    .section-description {
        p {
            margin: 0 0 rhythm(4, 18px);
        }
    }

    .submit-section {
        @include columns(16);
    }

    .input p {
        margin: 0;
    }
}

#feature {
    @include box-shadow(0 8px 8px -7px rgba(17, 17, 17, 0.2));
    @include trailing-border(1px, 12);
    @include padding-leader(12);

    background: image-url("showcase_blur.png") no-repeat center top, image-url("showcase_bg.png") repeat-x center top, #eee;
    border-color: scale-lightness($base-colour, -20%);

    .feature-content {
        @include columns(14);
        @include offset(2);

        color: #FFFFFF;
        text-align: center;
        text-shadow: 1px 1px #0080AA;

        p {
            @include adjust-font-size-to(18px);
            margin: 0 0 rhythm(4, 18px) 0;

            &.last {
                margin: 0;
            }
        }

        a {
            @include single-transition(color, .1s, linear);

            color: #fff;

            &:hover {
                text-decoration: none;
                color: #eee;
            }

            &:focus {
                outline: none;
            }
        }
    }

    @media only screen and (max-width: 767px) {
        padding-top: rhythm(16);

        .feature-content {
            h2 {
                @include adjust-font-size-to(20px);
            }

            p {
                @include adjust-font-size-to(16px);
            }
        }
    }
}

#footer-brief {
    @include leading-border(1px, 8);

    border-color: scale-lightness($base-colour, -20%);
    background: #eee;

    &.light {
        background: image-url("cream_dust.png") repeat;
    }

    &.brief {
        display: none;
    }

    .get-started {
        @include columns(16);

        text-align: center;

        p {
            @include adjust-font-size-to(18px);

            margin: 0 0 rhythm(8, 18px);
        }
    }

    .image {
        @include columns(16);

        a.replace {
            margin: 0 auto;

            display: block;
            height: 170px;
            width: 600px;
            overflow: hidden;
            position: relative;

            span {
                background: image-url("brief.png") no-repeat scroll 0 0 transparent;
                height: 100%;
                width: 100%;
                cursor: pointer;
                display: block;
                left: 0;
                position: absolute;
                top: 0;

                &.hover {
                    background-position: 0 100%;
                }
            }

            &:hover span {
                background-position: 0 100%;
            }
        }

        @media only screen and (max-width: 767px) {
            display: none;
        }
    }
}

footer {
    @include adjust-font-size-to(12px);
    padding: rhythm(2, 12px) 0;

    color: #fff;
    background: #222;

    .copyright {
        @include columns(8);

        text-align: right;
    }

    .contact-details {
        @include columns(8);

        text-align: left;
    }

    a {
        color: #fff;

        &:hover {
            color: scale-lightness($base-colour, 30%);
        }
    }

    @media only screen and (max-width: 767px) {
        .copyright, .contact-details {
            text-align: center;
        }

        .copyright {
            margin: 0 !important;
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 1139px) {
        .copyright, .contact-details {
            @include columns(16);

            text-align: center;
        }

        .contact-details {
            margin-bottom: rhythm(2);
        }
    }
}


