aside {
    @include columns(4);

    float: left;
    padding: $section-padding ($section-padding - ($margin * 2)) 0 0;
    color: $light-colour;

    &.fixed {
        position: fixed;
    }

    h1 {
        @include adjust-font-size-to(46px);

        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: $section-padding;
    }

    h2 {
        margin: 0;

        i {
            margin: 0 12px 0 0;
        }
    }

    img {
        max-width: 100%;
        height: auto;
        border: 5px solid $border-colour;

        vertical-align: bottom;
    }

    .show-details {
        @extend %button-light;
        @include adjust-font-size-to(12px);
        @include border-radius(2px);

        font-weight: 400;
        cursor: pointer;
        margin-left: 5px;
        padding: 1px 5px 2px 5px;

        i {
            font-size: 0.8em;
        }
    }

    a {
        color: $light-colour;
        border-color: $light-colour !important;
    }

    .profile-image {
        border: none;
        margin-bottom: 18px;
        display: block;

        position: relative;

        .triangle {
            @include transition(border-width .2s);

            position: absolute;
            right: 5px;
            bottom: 5px;

            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 0 0 0 0;
            border-color: transparent transparent $light-colour;
        }

        i {
            @include transition(opacity .1s 0s);

            position: absolute;
            right: 15px;
            bottom: 15px;
            margin: 0;

            font-size: 1.5em;
            color: $base-colour;
            opacity: 0;
        }

        &:hover {
            .triangle {
                border-width: 0 0 80px 80px;
            }

            i {
                @include transition(opacity .4s .1s);
                opacity: 1;
            }
        }
    }
}

.resume {
    @include columns(12);
    @include border-radius($default-border-radius);

    background: $light-colour;
    border: 1px solid scale-lightness($base-colour, -10%);

    margin: $section-padding 0;

    float: right;

    section {
        margin-bottom: $section-padding * 1.5;

        &:last-of-type {
            margin-bottom: $section-padding;
        }
    }

    h1 {
        @include border-right-radius($default-border-radius / 2);

        background: $base-colour;
        padding: 10px $section-padding;
        color: $light-colour;
        display: inline-block;
        margin-left: -1px;
        margin-top: 0;

        border-width: 1px;
        border-color: scale-lightness($base-colour, -10%);
        border-top-style: solid;
        border-right-style: solid;
        border-bottom-style: solid;

        i {
            margin: 0 12px 0 0;
        }
    }

    ul.actions {
        @include clearfix;

        list-style: none;
        margin: 32px 0 33px 0;
        padding: 0 $section-padding;

        li {
            padding: 0;
            margin: 0 20px 0 0;
            float: left;

            &:last-child {
                margin: 0;
            }
        }

        a {
            @extend %button;
            @include adjust-font-size-to(14px);
        }
    }
}

.resume-list {
    ul {
        list-style: none;

        margin: 0;
        padding: 0 $section-padding;

        li {
            padding-bottom: $section-padding / 2;
            margin: 0 0 ($section-padding / 2) 0;
            border-bottom: 2px dashed $text-colour-light;

            &:last-child {
                margin-bottom: 0;
                border-bottom: none;
                padding-bottom: 0;
            }
        }
    }

    h2 {
        margin: 0;

        span {
            @include adjust-font-size-to(12px);

            color: $text-colour-light;
            padding-left: 10px;
            text-transform: uppercase;
        }
    }

    h3 {
        @extend %normal-text;
        @include adjust-font-size-to(14px);

        margin-top: 0;
        text-transform: uppercase;
    }

    p {
        margin: 0;
    }
}

.resume-skills {
    @include clearfix;

    p {
        margin: 0;
        padding: 0 $section-padding;
    }

    h2 {
        margin-top: $section-padding;
    }

    .category {
        width: 33.333%;
        float: left;

        padding-left: $section-padding / 2;

        &:first-of-type {
            padding-left: $section-padding;
        }

        &:last-of-type {
            padding-left: 0;
            padding-right: $section-padding;
        }
    }

    ul {
        list-style: none outside none;
        padding: 0;
        margin: 0;

        li {
            &:before {
                font-family: FontAwesome;
                content: "\f00c";
                padding-right: 10px;
            }
        }
    }
}