/* HEADER */
header {
    width: 100%;
    background: $base-colour;
}

/* LOGO */
#logo {
    @include column;

    h1 {
        margin: 0;
        padding: 0;

        a {
            @extend %hide-text;

            background: image-url("logo.png") no-repeat center;
            width: image-width("logo.png");
            height: image-height("logo.png");

            display: block;
            border: none;
        }
    }
}