/* BORDER BOX FIX */
* {
    @include box-sizing(border-box);
}

/* FOOTER FIX - ensure footer is always at the bottom of the page */

html, body, #wrapper {
    height: 100%;
}

body > #wrapper {
    height: auto;
    min-height: 100%;
}

#content-container {
    overflow: auto;
    padding-bottom: $footer-height; /* footer height */
}

#bottom-footer {
    position: relative;
    margin-top: -$footer-height; /* negative value of footer height */
    clear: both;
}

// Opera Fix
body:before {
    /* thanks to Maleika (Kohoutec) */
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px; /* thank you Erik J */
}

body {
    @extend %normal-text;

    background: $base-colour;
    color: $text-colour;

    //Set page width when responsiveness is disabled
    min-width: $base-width + 20px;
    width: 100%;
}

/* LAYOUT */
//Section
.content {
    padding: $section-padding 0;

    &:before {
        content: " ";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-top: $border-width solid $dark-colour;
    }

    &.no-padding {
        padding-top: 0;
    }

    &.hero {
        padding-top: $hero-height;
        background-position: 50% 0;
        background-repeat: no-repeat;
    }
}

//Container
.container {
    @include container;
}

//Content
.full-width {
    @include columns(16);
}

.row {
    @include row;

    margin-bottom: 0;
}

/* OTHER STYLES USED THROUGHOUT THE WEBSITE */