#contact {
    display: none;
}

#contact-form {
    @include columns(8);

    margin: $section-padding;

    p.top {
        margin-bottom: 17px;
    }

    label {
        @include adjust-font-size-to(14px);
        @extend %normal-text-bold;

        width: 100%;
        display: inline-block;
        float: left;
        margin: 0 0 4px 0;
    }

    input {
        height: 50px;
        padding: 10px 20px;
    }

    input, textarea {
        @include transition(background .2s, border .2s);
        @include adjust-font-size-to(14px);
        @include border-radius($default-border-radius / 2);

        background: $input-colour;
        border: 1px solid $input-colour;
        margin: 0;
        width: 100%;
        color: $dark-colour;

        &:focus {
            outline: 0 none;
            color: $light-colour;
            background: $base-colour;
            border: 1px solid scale-lightness($base-colour, -30%);
        }
    }

    textarea {
        height: 244px;
        padding: 20px;
    }

    button[type="submit"] {
        @extend %button;

        margin: 0;
        float: right;

        i {
            float: right;
            margin: 4px 0 0 10px;

            font-size: .9em;
        }
    }

}
